@using InterviewB.Models
@model InterviewB.Models.MAIN_INFO
<div class="my-2 col-6 order-@(ViewBag.order)" id="tby-info" data-order="@(ViewBag.order)">
    <div class="card border-0">
        <p class="h3 card-header text-white bg-info text-right d-block" data-toggle="collapse" data-target="#tby-info-body"
           aria-expanded="true" aria-controls="tby-info-body" id="tby-info-header">
            الموقف الطبي
            <i class="fa fa-chevron-down"></i>
            <!-- MEDICAL_STATUS -->
            @{
                if (Model.MEDICAL_STATUS_CODE == 1)
                {
                    <span class="badge badge-success float-left ml-5 p-2">@Model.MEDICAL_STATUS</span>
                }
                else
                {
                    <span class="badge badge-warning float-left ml-5 px-2">@Model.MEDICAL_STATUS</span>
                }
            }
        </p>

        <div id="tby-info-body" class="collapse show" aria-labelledby="tby-info-header">
            <div class="card-body  d-flex justify-content-center flex-wrap">

                <!-- VISION -->
                <div class="data-group float-right text-center pl-1 persian d-block">
                    <p class="data-name font-weight-bold mb-0">النظر</p>
                    <p class="data-value form-control  font-weight-bold arabic bg-light" id="vision">
                        @Model.VISION_DEGREE
                        @{
                            if (Model.GLASSES_CODE == 1)
                            {
                                <i class="fas fa-glasses"></i>
                            }
                        }
                    </p>
                </div>
                <!-- LENGHT -->
                <div class="data-group float-right text-center pl-1 persian d-block">
                    <p class="data-name font-weight-bold mb-0">الطول</p>
                    <p class="data-value form-control  font-weight-bold arabic bg-light" id="lenght">
                        @Model.LENGTH
                    </p>
                </div>
                <!-- WEIGHT -->
                <div class="data-group float-right text-center pl-1 persian d-block">
                    <p class="data-name font-weight-bold mb-0">الوزن</p>
                    <p class="data-value form-control  font-weight-bold arabic bg-light" id="weight">
                        @Model.WEIGHT
                    </p>
                </div>

                @if (@Model.MEDICAL_STATUS_CODE != 1)
                {
                    <table class=" table col-7  m-auto table-striped table-bordered table-sm">
                        <thead>
                            <tr>
                                <th class="bg-info text-center" scope="col">اللجنة</th>
                                <th class="bg-info text-center" scope="col">الحالة</th>
                                <th class="bg-info text-center" scope="col">الملحوظة الطبية</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var med in ViewBag.medical_detailsO)
                            {
                                <tr>


                                    <!--LAGNA NAME-->
                                    <td class="text-center">@((med as MEDICAL_DETAILS).LAGNA)</td>
                                    <!--LAGNA STATUS-->
                                    <td class="text-center">@((med as MEDICAL_DETAILS).LAGNA_STATUS)</td>
                                    <!--MEDICAL REMARK-->
                                    <td class="text-center">@((med as MEDICAL_DETAILS).REMARK)</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>


        </div>
    </div>
</div>

