@using InterviewB.Models
@model IEnumerable<RELATIVE>

<li class="card my-2 order-8" id="relatives-three" data-order="8">

    <h5 class="card-header text-white bg-info text-right d-block" data-toggle="collapse" data-target="#relatives-three-body"
        aria-expanded="true" aria-controls="relatives-two-body" id="relatives-three-header">
       الأخوال والخالات
        <i class="fa fa-chevron-down"></i>
        <!-- Relatives Count -->

        @if (@Model != null && @Model.Count() >= 1)
        {
            <span class="badge badge-light float-left mx-5 p-2">@Model.Count()</span>
        }
        else
        {
            <span class="badge badge-light float-left mx-5 p-2">لا يوجد أخوال أو خالات</span>
        }
    </h5>

    <div id="relatives-three-body" class="collapse show" aria-labelledby="relatives-three-header">
        @if (@Model != null && @Model.Count() >= 1)
        {
            <div class="card-body">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th class="bg-info" scope="col">م</th>
                            <th class="bg-info" scope="col">الأسم</th>
                            <th class="bg-info" scope="col">السن</th>
                            <th class="bg-info" scope="col">المؤهل</th>
                            <th class="bg-info" scope="col">الوظيفة</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rel in Model)
                        {
                            <tr>
                                <!--SERIAL-->
                                <td>@(rel.SERIAL)</td>
                                <!--RELNAME-->
                                <td>@(rel.REL_NAME)</td>
                                <!--AGE-->
                                <td>@(rel.AGE)</td>
                                <!--GRAD-->
                                <td>@(rel.GRAD)</td>
                                <!--JOB-->
                                <td>@(rel.JOB)</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        }

    </div>
</li>

